* {
	padding: 0;
	margin: 0;
}

body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: 'Roboto';
}

#drop-menu, #navbar{
	position: fixed;
}

#navbar, section, footer, #drop-menu, iframe{
	width: 100%;
}

#navbar, .white-line{
	height: 60px;
}

#drop-menu, #navbar, .white-line{
	background-color: white;
	z-index: 3;
}

#navbar{
	top: 0;
}

#navbar i{
	font-size: 30px;
	padding: 15px 5px;
	float: right;
}

#navbar i:hover{
	color: #4d4d4d;
}

section, footer .header-div, #drop-menu ul li{
	box-sizing: border-box;
}

section, footer{
	flex-direction: column;
	background-color: #1a1a1a;
	height: 100vh;
	min-height: 650px;
	color: #d9d9d9;
}

.white-line, #drop-menu{
	top: 60px;
}

.white-line, .contact-div-2, section, footer{
	display: flex;
	justify-content: center;
}

.white-line{
	position: sticky;
	align-items: center;
}

.white-line img, #drop-menu ul li, #about img, #offer img, #partners img{
	display: block;
}

.white-line img{
	margin: 0 auto;
	max-height: 60%;
	max-width: 500px;
	width: 90%;
}

#drop-menu{
	display: none;
	height: 160px;
}

#offer ul{
	list-style-position: inside;
	list-style-type: square;
}

#offer a{
	padding: 8px 5px;
	width: 250px;
	margin: 25px auto;
	border-radius: 25px 2px;
}

#offer a:hover{
	color: #D9D9D9;
	background-color: #333333;
}

#drop-menu ul li, h1, h2, #offer a, .contact-div-1, .contact-div-2, #about p, #offer p, #offer ul{
	text-align: center;
}

#drop-menu ul li, #offer a{
	font-size: 20px;
}

#drop-menu ul li{
	padding-top: 10px;
	height: 40px;
	-webkit-box-shadow: 0px 11px 52px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 52px -17px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 52px -17px rgba(0,0,0,0.75);
}

#drop-menu ul li a, #offer a{
	color: black;
}

#drop-menu ul li a, #offer a{
	text-decoration: none;
}

#about img{
	width: 230px;
	margin: 0 auto;
}

.img-row-1, .img-row-2{
	display: none;
}

#offer img{
	width: 75%;
	max-width: 370px;
	margin: 0 auto;
}

section .header-div, section p, #about img, #offer ul{
	padding-top: 20px;
}

section p{
	padding-left: 10px;
	padding-right: 10px;
}

h1{
	font-weight: normal;
}

#partners{
	justify-content: flex-start;
}

#partners h1{
	padding: 15px 0;
}

footer{
	justify-content: space-around;
	color: #1a1a1a;
}

#offer a, footer{
	background-color: #d9d9d9;
}

#partners img{
	margin: 0 auto;
	width: 200px;
}

.contact-div-2{
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px 5px;
}

h2{
	padding-top: 15px;
	padding-bottom: 10px;
}

.person-contact{
	padding: 10px 10px;
}

iframe{
	margin:0px auto; 
	display: inline-block;
}

@media (orientation: landscape){
  section, footer{
    height: 100vh;
  }
}

@media (min-width: 768px){

	#navbar{
		display: none;
	}

	#drop-menu{
		top: 0;
		display: block;
		height: 60px;
		box-sizing: border-box;
	}

	#drop-menu ul li:hover{
		border-bottom: 5px solid #F8EB01;
	}

	#drop-menu ul li{
		height: 60px;
		display: inline;
		border-bottom: none;
		float: right;
		padding: 15px 15px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	#about, .left, .img-row-1, .img-row-2{
		display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
	}

	#about{
		-webkit-flex-direction: row;
    	-ms-flex-direction: row;
    	flex-direction: row;
		-webkit-align-content: center;
    	-ms-flex-line-pack: center;
   		 align-content: center;
	}

	#about, .left{
		-webkit-align-items: center;
    	-ms-flex-align: center;
    	align-items: center;
	}

	#about > *{
		flex-basis: 50%;
	}

	#about p{
		padding-right: 5%;
	}

	#about .right p::before{
		content: "O NAS";
		display: block;
		padding-bottom: 20px;
		font-size: 26px;
	}

	#about .right p::after{
		content: "Kilkunastu naszych przedstawicieli dociera systematycznie do klientów w województwach dolnośląskim, opolskim, lubuskim i wielkopolskim.\A\A Wysoka jakość nasztch produktów, rzeczowa obsługa oddbiorcy, szybka i sprawna dystrybucja - to wyróżnia naszą markę COLLAGE-FLEX.";
		white-space: pre-line;
	}

	#about .header-div{
		display: none;
	}

	.left{	
		flex-direction: column;
    	max-width: 50vw;
	}

	#fractal-1{
		min-width: 300px;
		max-width: 70%;
	}

	.img-row-1, .img-row-2{
		max-width: 400px;
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex: 1 1 auto;
  		flex: 1 1 auto;
	}

	.img-row-1 img, .img-row-2 img{
		padding: 0 10px;
	}

@media (min-width: 992px){
	.img-row-1{
		max-width: 550px;
	}

	.img-row-1 img{
		flex-basis: 25%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    	.img-row-1 img, .img-row-2 img{
     	width: 100%;
		height: 100%;
		min-width: 0;
	}
}
}

/*catalog*/

.productDiv:nth-of-type(1){
	padding-top: 80px;
}

.productSection{
	height: auto;
}

.productDiv{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 25px 0;
}

.imgDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 300px;
}

.imgDiv img{
	max-width: 90%;
	max-height: 280px;
	padding-top: 10px;
}

.descriptionDiv p:nth-child(1){
	font-size: 20px;
	color: #d9d9d9;
}

.descriptionDiv p:nth-child(2){
	color: #b3b3b3;
}

.productDiv input, .productDiv button{
	margin: 20px 10px;
}

.productDiv input{
}

.productDiv button, .productDiv input{
	color: #8c8c8c;
	font-size: 18px;
	border: none;
	width: 80px;
	background-color: #1a1a1a;
	border-bottom: 2px solid #666666;
}

@media (min-width: 768px){
	.productDiv{
		flex-direction: row;
}

	.imgDiv{
		width: 30vw; 
	}

	.descriptionDiv{
		width: 70vw;
	}

}

#mailDiv{
	color: black;
	width: 300px;
	position: fixed;
	right: 3%;
	bottom: 0;
	z-index: 2;
	background-color: white;
}

#mailDiv p{
	margin: 10px 15px;
}

#mailDiv input[type=text], #mailDiv textarea{
	margin-left: 15px;
}

form[name='myForm']{
	text-align: center;
}

form[name='myForm'] input[type='submit']{
	margin: 10px 0;
	border: none;
}

form[name='myForm'] input, form[name='myForm'] textarea{
	background-color: white;
	border: none;
	border-bottom: 1px solid black;
	color: black;
}



