* {
	padding: 0;
	margin: 0;
}

body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: 'Roboto';
}

#drop-menu, #navbar, #mailDiv{
	position: fixed;
}

#navbar, section, footer, #drop-menu, iframe{
	width: 100%;
}

#navbar, .white-line{
	height: 60px;
}

#drop-menu, #navbar, .white-line{
	z-index: 3;
}

#drop-menu, #navbar, .white-line, #mailDiv, form[name='myForm'] input, form[name='myForm'] textarea{
	background-color: white;
}

#navbar{
	top: 0;
}

#navbar i{
	font-size: 30px;
	padding: 15px 5px;
	float: right;
}

#navbar i:hover{
	color: #4d4d4d;
}

section, footer .header-div, #drop-menu ul li{
	box-sizing: border-box;
}

section, footer, .productDiv, #news{
	flex-direction: column;
}

section, footer{
	height: 100vh;
	min-height: 650px;
	color: #d9d9d9;
}

section, footer, .productDiv input, .productDiv button{
	background-color: #1a1a1a;
}

.white-line, #drop-menu{
	top: 60px;
}

.white-line, .contact-div-2, section, footer{
	justify-content: center;
}

.white-line, .contact-div-2, section, footer, .productDiv, .imgDiv{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.white-line{
	position: sticky;
}

#news, .white-line{
	-webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.white-line img, #drop-menu ul li, #about img, #offer img{
	display: block;
}

.white-line img{
	margin: 0 auto;
	max-height: 60%;
	max-width: 500px;
	width: 90%;
}

#drop-menu, .img-col{
	display: none;
}

#drop-menu{
	height: 160px;
}

#offer ul{
	list-style-position: inside;
	list-style-type: square;
}

#offer a{
	padding: 8px 5px;
	width: 250px;
	margin: 25px auto;
	border-radius: 25px;
}

#offer a:hover{
	color: #D9D9D9;
	background-color: #333333;
}

#offer p:nth-of-type(1){
	color: #ff6666;
	font-size: 18px;
}

form[name='myForm'], #drop-menu ul li, h1, h2, #offer a, .contact-div-1, .contact-div-2, #about p, #offer p, #offer ul{
	text-align: center;
}

#drop-menu ul li, #offer a, .descriptionDiv p:nth-child(1){
	font-size: 20px;
}

#drop-menu ul li{
	padding-top: 10px;
	height: 40px;
	-webkit-box-shadow: 0px 11px 52px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 52px -17px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 52px -17px rgba(0,0,0,0.75);
}

#drop-menu ul li a, #offer a, #mailDiv, form[name='myForm'] input, form[name='myForm'] textarea{
	color: black;
}

#drop-menu ul li a, #offer a{
	text-decoration: none;
}

#about img{
	width: 230px;
	margin: 0 auto;
}

#offer img{
	width: 75%;
	max-width: 370px;
	margin: 0 auto;
}

section .header-div, section p, #offer ul{
	padding-top: 20px;
}

section p{
	padding-left: 10px;
	padding-right: 10px;
}

h1{
	font-weight: normal;
}

.imgDiv{
	-webkit-justify-content: center;
	justify-content: center;
}

#news{
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.imgDiv, .contact-div-2{
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#news h1{
	padding: 15px 0;
}

.show{
	margin-bottom: 350px;
}

.productDiv, footer{
	justify-content: space-around;
}

footer{
	color: #1a1a1a;
}

#offer a, footer{
	background-color: #d9d9d9;
}

.contact-div-2{
	flex-wrap: wrap;
	padding: 5px 5px;
}

h2{
	padding-top: 15px;
	padding-bottom: 10px;
}

.news-div h2{
	font-size: 18px;
	padding: 0;
	padding-top: 5px;
}

.person-contact{
	padding: 10px 10px;
}

iframe{
	margin:0px auto; 
	display: inline-block;
}

.productDiv:nth-of-type(1){
	padding-top: 80px;
}

.productSection{
	height: auto;
	min-height: 100vh;
}

.productDiv{
	padding: 25px 0;
	border-bottom: 1px dashed white;
}

.imgDiv{
	height: 300px;
}

.imgDiv img{
	max-width: 90%;
	max-height: 280px;
	padding-top: 10px;
}

.descriptionDiv p:nth-child(1){
	color: #d9d9d9;
}

.descriptionDiv p:nth-child(2){
	color: #b3b3b3;
}

.productDiv input{
	margin: 20px 10px;
}

.productDiv input, .productDiv button{
	font-size: 18px;
}

.productDiv input{
	color: #8c8c8c;
	border: none;
	width: 80px;
	border-bottom: 2px dotted #666666;
}

.productDiv button{
	padding: 5px 25px;
	color: #1aff66;
	border-radius: 15px;
	border: 2px solid #1aff66;
}

.productDiv button:hover{
	background-color: #0d0d0d;
}

#mailDiv{
	width: 300px;
	right: 3px;
	bottom: -350px;
	z-index: 2;
}

#mailDiv p{
	margin: 10px 15px;
}

#mailDiv input[type=text], #mailDiv textarea{
	margin-left: 15px;
}

form[name='myForm'] input[type='submit']{
	margin: 10px 15px;
	border: none;
}

form[name='myForm'] input[type='submit'], form[name='myForm'] input, form[name='myForm'] textarea{
	border: none;
}

form[name='myForm'] input, form[name='myForm'] textarea{
	border-bottom: 1px dotted black;
}

#mailDiv i{
	color: white;
	position: absolute;
	font-size: 35px;
	z-index: 2;
	top: -50px;
	left: 250px;
}

.messageAdd{
	animation: rotatato 1.2s;
}

.news-div{
	margin-top: 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	height: 25vh;
	width: 80%;
	-webkit-box-shadow: 6px 2px 34px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 2px 34px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 2px 34px 0px rgba(0,0,0,0.75);
}

@media (orientation: landscape){
  section, footer{
    height: 100vh;
  }
}

@media (min-width: 768px){

	#navbar, #about .header-div{
		display: none;
	}

	#drop-menu{
		top: 0;
		height: 60px;
		box-sizing: border-box;
	}

	#about .right p::before, #drop-menu{
		display: block;
	}

	#drop-menu ul li:hover{
		border-bottom: 5px solid #F8EB01;
	}

	#drop-menu ul li{
		height: 60px;
		display: inline;
		border-bottom: none;
		float: right;
		padding: 15px 15px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	#about, #news, .img-col{
		display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
	}

	#about{
		-webkit-flex-direction: row;
    	-ms-flex-direction: row;
    	flex-direction: row;
		-webkit-align-content: center;
    	-ms-flex-line-pack: center;
   		 align-content: center;
	}

	#about{
		-webkit-align-items: center;
    	-ms-flex-align: center;
    	align-items: center;
	}

	#about > *{
		flex-basis: 50%;
	}

	#about p{
		padding-right: 5%;
	}

	#about .right p::before{
		content: "O NAS";
		display: block;
		padding-bottom: 20px;
		font-size: 26px;
	}

	#about .right p::after{
		content: "Kilkunastu naszych przedstawicieli dociera systematycznie do klientów w województwach dolnośląskim, opolskim, lubuskim i wielkopolskim.\A\A Wysoka jakość nasztch produktów, rzeczowa obsługa oddbiorcy, szybka i sprawna dystrybucja - to wyróżnia naszą markę COLLAGE-FLEX.";
		white-space: pre-line;
	}

	.left{
    	max-width: 50vw;
    	min-height: 700px;
    	min-width: 400px;
	}

	.left, .news-div{
		position: relative;
	}

	#fractal-1, .img-col, .news-div-img, .news-div-body, .img-col img{
		position: absolute;
	}

	#fractal-1{
		padding-top: 200px;
		min-width: 350px;
		left: -150px;
		animation: toGrey 8s;
	}

	.img-col{
		display: block;
		min-width: 400px;
		z-index: 2;
		top: 100px;
	}

	.img-col img{
		max-width: 200px;
	}

	.img-col img:nth-of-type(1){
		padding-top: -25px;
		left: -5px;
		animation: scale 1.5s;
	}

	.img-col img:nth-of-type(2){
		padding-top: 120px;
		padding-left: 180px;
		animation: scale 3s;
	}

	.img-col img:nth-of-type(3){
		padding-top: 220px;
		padding-left: 200px;
		animation: scale 4.5s;
	}

	.img-col img:nth-of-type(4){
		padding-top: 360px;
		padding-left: 180px;
		animation: scale 6s;
	}

	.img-col img:nth-of-type(5){
		padding-top: 450px;
		animation: scale 7.5s;
	}

	.productDiv, #news{
		flex-direction: row;
	}

	.imgDiv{
		width: 30vw; 
	}

	.descriptionDiv{
		width: 70vw;
	}

	#mailDiv{
		right: 1%;
	}

	#news{
		justify-content: space-around;
	}

	#news .header-div{
		display: none;
	}

	.news-div{
		width: 25vw;
		height: 80vh;
		border: 1px solid black;
	}

	.news-div-img{
		width: 150px;
		height: 150px;
		left: 0;
		right: 0;
		margin: auto;
		border: 2px dashed red;
	}

	.news-div-body{
		top: 200px;
	}

	.news-div h2{
		padding: 10px 0;
	}
}

@keyframes toGrey{
	from{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  		filter: grayscale(100%);
  	}
  	to{
  		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  		filter: grayscale(0%);
  	}
}

@keyframes scale{
 	from {
 		opacity: 0;
  		-ms-transform: scale(0.3, 1); /* IE 9 */
  		-webkit-transform: scale(0.3, 1); /* Safari */
  		transform: scale(0.3, 1);
  	}
  	to {
  		opacity: 1;
  	}
}

@keyframes scale{
 	from {
 		opacity: 0;
  		-ms-transform: scale(0.3, 1); /* IE 9 */
  		-webkit-transform: scale(0.3, 1); /* Safari */
  		transform: scale(0.3, 1);
  	}
  	to {
  		opacity: 1;
  	}
}

@keyframes rotatato{
	0%{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
	}
	25%{
        -webkit-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
        transform: rotateZ(30deg);
	}
	50%{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
	}
	75%{
        -webkit-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
        transform: rotateZ(30deg);
	}
	100%{
        -webkit-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
	}
}
