body{
	height: 800px;
}

body, .list-input, #tasks, #done-list{
	width: 100%;
}

input, body, button, button:hover, #myBtn, p, #title{
	font-family: 'Orbitron', sans-serif;
	background-color: #1a1a1a;
}

input, body, #myBtn:hover, button:hover, p, #title{
	color: #009900;
}

header, #title, .list-input, #tasks, #done-list{
	box-sizing: border-box;
}

body, header, .list-body{
	margin-left: auto;
	margin-right: auto;
}

header, .list-body{
	width: 60%;
}

header{
	text-align: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(green, yellow);
}

h1, input, button, p, #title, #myBtn{
	margin: 0;
}

h1{
	padding: 15px 0px 15px 0px;
}

.list-body{
   	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: 500px;
}

.list-input, #tasks, #done-list{
	order: 0;
    flex: 0 1 auto;
    align-self: center;
    padding: 10px;
}

.list-input:hover, .list:hover{
	border-color: #004d00;
}

.list-input, #tasks, #done-list{
	height: 75px;
	margin-bottom: 20px;
}

#tasks{
	height: 250px;
	overflow: auto;
}

#title{
	border-bottom: 1px solid #004d00;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style:dotted;
	caret-color: #006600;
	width: 65%;
}

input{
	border: 0px;
}

#done-list{
	height: 100px;
	overflow: auto;
}

#tasks > div > p{
	display: inline-block;
}

input, button, p, #title, #myBtn{
	height: 25px;
	font-size: 18px;
}

button, #myBtn{
	float: right;
	border: 0;
}

button, #myBtn, #enter, #done-list > p{
	color: #004d00;
}

